#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store

# Eclipse file
/.project
/.settings
/nbproject/private/

*.db

node_modules/**
**/node_modules/**
npm-debug.log
yarn-error.log
*.[oa]
